# ;{{ ansible_managed }}

deb https://mirrors.tuna.tsinghua.edu.cn/gitlab-ce/{{ ansible_distribution.lower() }}  {{ ansible_distribution_release }} main
deb-src https://mirrors.tuna.tsinghua.edu.cn/gitlab-ce/{{ ansible_distribution.lower() }} {{ ansible_distribution_release }} main


